<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hello Pug
        // bootstrap - dodany przez app.get z root directory
        link(rel="stylesheet", href="./vendor/bootstrap.min.css")
    body
        div.container-fluid.text-center
            p.greetings#people I'm rendered from pug (with bootstrap)
            div.container.column.main#division(width="100",height="100",style="background-color: black; color: lightgrey") div container
            h1= name
            a(href= url) URL