form {
  display: block;
  clear: both;
}
.buttons {
  display: block;
  clear: both;
}
input {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
  width: 40px;
  height: 40px;
}
label {
  float: left;
}
label:nth-of-type(10),
label:nth-of-type(19),
label:nth-of-type(28),
label:nth-of-type(37),
label:nth-of-type(46),
label:nth-of-type(55),
label:nth-of-type(64),
label:nth-of-type(73) {
  clear: left;
}
label:nth-of-type(1) input,
label:nth-of-type(10) input,
label:nth-of-type(19) input,
label:nth-of-type(28) input,
label:nth-of-type(37) input,
label:nth-of-type(46) input,
label:nth-of-type(55) input,
label:nth-of-type(64) input,
label:nth-of-type(73) input {
  
}
.fixed-tile {
  background-color: #add8e6;
}
