include ./header.pug
  title Przykładowa strona do logowania
body
  div.container.pt-4.text-center
    img.logo-img(src="https://www.pinclipart.com/picdir/big/134-1347779_new-images-2018-google-clip-art-transparent-backgrounds.png" alt="google logo")
    a.btn-lg.btn-danger.text-center(role="button" href="/auth/google") Google Login
include ./footer.pug